<div class="row">
    <div *ngFor="let item of items" class="col-lg-4">
        <div class="tile mbl">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar 
                        [style.backgroundImage]="'url(' + item?.ProductPicUrl + ')'"
                        [style.backgroundSize]="'cover'">
                    </div>
                    <mat-card-title>{{item?.Name}}</mat-card-title>
                    <mat-card-subtitle>{{item?.MainCategory}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item?.ProductPicUrl" [alt]="item?.Name">
                <mat-card-content>
                    <h3 class="text-center">Price - {{item?.Price | currency:item?.CurrencyCode}}</h3>
                    <p>{{item?.Description}}</p>
                </mat-card-content>
                <mat-card-actions class="mbl">
                    <button class="col-lg-12" mat-raised-button color="primary" (click)="openDialog(item)">Product Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>