<div *ngIf="data.type === 'details'" class="row">
    <div class="col-lg-12 mtl" style="height:200px;">
        <h1 class="text-center">Details Page</h1>
    </div>
    <div class="offset-lg-2 col-lg-3 mtl">
        <button class="col-lg-12" mat-raised-button color="primary" (click)="onNoClick()">Buy Now</button>
    </div>
    <div class="offset-lg-2 col-lg-3 mtl">
        <button class="col-lg-12" mat-raised-button color="warn" (click)="onNoClick()">Back To Products</button>
    </div>
</div>

<div *ngIf="data.type === 'auth'" class="row">
    <div class="col-lg-12 text-center">
        <h1>Login With Social Media</h1>
    </div>
    <div class="col-lg-12 mtl text-center">
        <button class="fb btn col-lg-4" (click)="facebookLogin()">
            <i class="fa fa-facebook fa-fw"></i>
            Login with Facebook
        </button>
    </div>
    <div class="col-lg-12 mtl text-center">
        <button class="google btn col-lg-4" (click)="googleLogin()">
            <i class="fa fa-google fa-fw"></i>
            Login with Google
        </button>
    </div>
    <div class="col-lg-12 mtl text-center">
        <button class="btn btn-warning col-lg-4" (click)="onNoClick()">Go To Homepage</button>
    </div>
</div>

<div *ngIf="!data || !data.type" class="row">
    Unspecified Template Type!
</div>